@import "vars"

@media screen and (max-width: 1260px)
  .slick-slider .slick-arrow
    &.fa-chevron-right
      right: 5px
    &.fa-chevron-left
      left: 5px
  .recommend .slick-slider
    margin: 17px 0 0
  .delivery_page
    .recommend .slick-slider
      margin: 17px 0 0
  .our_brands .slick-slider
    margin: 26px 0 0


@media screen and (max-width: 1200px)
  .main_slider_block .slick-dots
    bottom: 50px
  .main_slider_block .left_offer_slide
    align-items: center
  .product_slider_item_wrap .product_slider_item h3
    padding: 0 10px
  .about .about_right_item ul li span
    display: none
  .our_brands .brands_slider .slick-dots
    bottom: -65px
  .product_slider_item_wrap .product_slider_item
    height: 430px
  .our_brands
    .brands_slider_item
      height: 219px
  .footer_wrap .logo_wrap .logo
    padding-top: 20px
  .footer_wrap .contact_info
    top: unset
    right: unset
    bottom: -25px
    left: 15px
    a
      text-align: left
  .delivery_page
    .delivery_img_wrap
      height: 582px
  .product .product_block .product_descr .price_block .price
    padding-left: 0

@media screen and (max-width: 992px)
  .logo_top
    font-size: 0.563rem
    width: 180px
    line-height: 11.54px
  .main_logo
    font-size: 1.75rem
    line-height: 28.84px
    padding: 9px 10px 4px
    margin-top: 5px
  .logo
    width: 165px
    margin-top: 10px
  .mobile_search
    display: block
    font-size: 1.75rem
    color: #fff
  .bottom_head_wrap .site_search
    display: none
    position: absolute
    right: 0
  nav > ul > li > ul
    height: 690px
  .top_head_contact_wrap
    display: flex
    align-items: center
    flex-direction: column
    margin-top: 0
    i
      margin-right: 15px
  .top_head_contact_top
    order: 1
    position: absolute
    bottom: 0
    left: 0
    .time
      margin-left: 60px
      i
        margin-right: 15px
  .user_basket_block
    max-width: 120px
  .top_head_contact_bottom
    margin-top: 33px
    i
      margin-right: 20px
    span
      line-height: 21px
      max-width: 265px
  .user_basket_block
    .user_login
      margin-top: 42px
    .basket
      margin-top: 35px
  .main_slider_block .main_slider_item .right_offer
    width: 516px
    margin-top: 100px
  .main_slider_block .product_offer_slide .product_offer
    .right
      padding-top: 35px
    .left
      padding-top: 50px
  .our_brands
    .brands_slider_item
      height: 163px
  h2
    text-align: center
  .our_brands .sort_block
    justify-content: center
  .footer_wrap .contact_info
    bottom: unset
    top: 100px
  .bottom_head_wrap .site_search
    width: 290px
  .footer_wrap .footer_menu_3
    padding-top: 0
    padding-left: 271px
  .footer_wrap .contact_info
    a
      padding-top: 57px
  .slick-slider .slick-arrow
    display: none!important
  .requisits .requisits_item_dl
    visibility: hidden
  .route
    h1
      text-align: center
  .photo .photo_item_top
    height: 278px
    &.photo_item_top_front
      height: 430px
  .catalog_section .sort_block
    justify-content: center
  .product_section_catalog .product_slider_item_wrap .product_slider_item
    margin: 10px auto
  .group_page .brand_section h1
    text-align: center
  .delivery_page
    h1, h2
      text-align: left
    .delivery_img_wrap
      height: 482px
  .product .product_block .product_descr
    padding-left: 15px

@media screen and (max-width: 768px)
  .logo_top
    display: none
  .top_head_contact_bottom
    display: none
  .top_head_contact_wrap i
    font-size: 1.5rem
  .user_basket_block .user_login i, .user_basket_block .basket i
    font-size: 1.25rem
  .user_basket_block span
    font-size: 0.625rem
  .top_head_contact_top .contact_info .tel span, .top_head_contact_top .time
    font-size: 0.75rem
    line-height: 18px
  .top_head_contact_top
    display: block
  .top_head_contact_top .time
    margin-left: 0
    margin-top: 6px
  .user_basket_block
    padding-bottom: 25px
    .user_login
      margin-top: 30px
    .basket
      margin-top: 20px
  .bottom_head_wrap nav > ul > li
    font-size: 0.75rem
    margin-right: 25px
  nav > ul > li > ul > li
    font-size: 0.875rem
    line-height: 15px
    margin-top: 10px
  nav > ul > li > ul > li > ul
    margin-top: 10px
  nav > ul > li > ul > li > ul > li
    line-height: 24px
  .main_slider_block .main_slider_item
    height: 364px
    .right_offer
      max-width: 362px
      width: 100%
  .slick-dots li
    width: 12px
    height: 12px
    button
      width: 12px
      height: 12px
  .main_slider_block
    .slick-dots
      bottom: 25px
    h1
      font-size: 1.625rem
      line-height: 31.73px
    .product_offer_slide .product_offer
      .left
        padding-top: 33px
        .price_block
          font-size: 1.375rem
      .right
        padding-top: 28px
        h1
          font-size: 1.625rem
          line-height: 32.69px
        .short_descr
          font-size: 0.688rem
          line-height: 18.31px
        .button
          width: 127px
          font-size: 0.875rem
          line-height: 18.75px
    .left_offer_slide
      align-items: flex-end
      padding: 0 0 68px
      .left_offer
        max-width: 370px
        width: 100%
  .our_brands
    .brands_slider_item
      height: 270px
  .about .about_right_item ul li span
    display: block
  .contacts
    height: auto
    .map
      height: 530px
      position: relative
    .contacts_wrap
      justify-content: center
      padding: 58px 0
  h2
    font-size: 1.25rem
  .bottom_head_wrap .site_search
    width: 270px
  footer
    padding-bottom: 20px
  .footer_wrap
    text-align: center
    .footer_menu
      display: none
    .logo_wrap
      display: none
    .contact_info
      position: relative
      top: unset
      left: 0
      width: 100%
      a
        text-align: center
        padding-top: 5px
        &.top_head_contact_bottom
          display: flex
          margin: 11px auto 0
          line-height: 21px
          position: relative
          width: 240px
          text-align: left
          span
            font-size: 0.75rem
        i
          display: none
  .main_slider_block .product_offer_slide .product_offer .left
    padding-left: 35px
  .route
    h1
      font-size: 1.625rem
      line-height: 25px
    .route_map
      height: 511px
    p
      font-size: 0.875rem
      line-height: 20px
  .photo
    .photo_wrap p
      font-size: 0.875rem
      line-height: 20px
    .photo_item_top
      height: 350px
  .requisits
    font-size: 0.875rem
    line-height: 24px
  .brand_block .brand_descr
    font-size: 0.875rem
    line-height: 24px
    letter-spacing: 0.018rem
    margin-top: 23px
    p
      margin-top: 0
  .group_page .group_descr
    font-size: 0.875rem
    line-height: 26px
    letter-spacing: 0.018rem
  .sort_block
    font-size: 0.875rem
    line-height: 25px
    letter-spacing: 0.053rem
  .delivery_page .delivery_block .delivery_item h3, .pay .pay_item h3
    font-size: 1.125rem
    line-height: 40px
  .pay .pay_item p
    font-size: 0.875rem
    line-height: 20px
  .woocommerce-cart-form__cart-item .product-quantity
    display: flex
    justify-content: space-between
  .woocommerce-cart
    .shop_table
      tr td
        padding: 10px 0

@media screen and (max-width: 576px)
  .main_slider_block .product_offer_slide .product_offer .right
    h1
      font-size: 1.3rem
  .about .about_right_item ul li
    .btn
      font-size: 1rem
      width: 180px
    span
      width: 40%
  //.footer_wrap
  //  .contact_info
  //    top: 90px
  //  .logo_wrap
  //    padding-bottom: 90px
  //  .footer_menu
  //    display: none
  .jq-selectbox
    width: 179px
  .bottom_head_wrap nav > ul > li
    margin-right: 15px
  .product .tabs ul.tabs_caption li
    font-size: 0.8rem

@media screen and (max-width: 480px)
  .woocommerce-MyAccount-navigation
    display: block
  .woocommerce-MyAccount-content
    margin-top: 20px
  nav
    display: none
  .user_basket_block
    padding-bottom: 31px
    .basket
      margin-top: 15px
  .bottom_head_wrap .site_search
    width: 240px
  .mobile_search
    padding: 16px 0
  .main_slider_block h1
    font-size: 1.3rem
    line-height: 30px
  .main_slider_block .product_offer_slide .product_offer .right
    h1
      font-size: 1rem
      line-height: 24px
    .short_descr
      display: none
  .about .about_right_item ul
    li
      .btn
        margin: 0 auto
      span
        display: none
  .hamburger
    display: block
    padding: 15px 0 13px
  .route .route_map
    height: 400px
  .requisits
    font-size: 0.7rem
  .photo .photo_item_top
    height: 400px
    &.photo_item_top_front
      height: 250px
  .brand_section h1
    text-align: center
  .brand_block
    .brand_img img
      margin: 0 auto
      display: block
    .brand_descr
      text-align: center
  .group_page .group_descr
    text-align: center
  .delivery_page .delivery_img_wrap
    height: 280px
  .delivery_page .recommend
    padding-top: 20px