@import "vars"
@import "fonts"
@import "partials/fast-grid/fast-grid"
@import "partials/normalize.css"
@import "../fonts/fa/scss/font-awesome.scss"
@import "partials/jquery.formstyler.css"
@import "partials/slick.css"
@import "partials/hamburgers.min.css"
@import "partials/jquery.mmenu.all.css"

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

html
  font-size: 16px

body
  font-size: 16px
  min-width: 320px
  height: 100%
  position: relative
  font-family: $default-font
  overflow-x: hidden
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

.text-center
  text-align: center

b, strong
  font-weight: bold

.container
  @include grid-container(xs sm md lg xl)

.button
  background: $accent
  color: #000
  text-align: center
  display: block

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
  background: #fff

.hamburger
  display: none

.mmenu_wrap
  display: flex
  height: 100%
  flex-direction: column

header
  color: #fff
.top_head
  background-color: #0e1439
  padding-bottom: 11px
.top_head_wrap
  display: flex
  justify-content: space-between
  position: relative
.logo
  margin-top: 17px
  width: 228px
  display: block
.logo_top
  padding-left: 15px
  display: block
  color: #fff
  font-size: 0.813rem
  line-height: 16px
  letter-spacing: 0.049rem
.main_logo
  margin-top: 8px
  padding: 12px 15px 4px
  display: block
  background-color: #fff
  color: #000
  font-family: "Adelle Cyrillic - Extrabold", serif
  font-size: 2.5rem
  line-height: 40px
  text-transform: uppercase
  letter-spacing: 0.375rem
.top_head_contact_wrap
  margin-top: 20px
  i
    font-size: 2.063rem
    margin-right: 20px
    transition: 0.2s
.top_head_contact_top
  display: flex
  justify-content: space-between
  align-items: center
  .contact_info
    .tel
      display: flex
      align-items: center
      span
        color: #fff
        font-size: 0.875rem
        line-height: 40px
        letter-spacing: 0.053rem
        position: relative
        transition: 0.2s
        text-decoration: underline
      &:hover
        span
          color: $accent
          &:after
            background: $accent
        i
          color: $accent
  .time
    font-size: 0.875rem
    line-height: 18px
    color: #fff
    letter-spacing: 0.053rem
    display: flex
    align-items: center
    span
      b
        font-weight: 400
        font-size: 0.5rem
.top_head_contact_bottom
  display: flex
  align-items: center
  margin-top: 17px
  padding-left: 6px
  span
    font-size: 0.875rem
    font-weight: 400
    line-height: 15px
    color: #fff
    position: relative
    letter-spacing: 0.02rem
    text-decoration: underline
    transition: 0.2s
  &:hover
    span
      color: $accent
      &:after
        background: $accent
    i
      color: $accent
.user_basket_block
  max-width: 137px
  width: 100%
  i
    font-size: 1.75rem
  .user_login
    display: flex
    justify-content: flex-end
    align-items: center
    margin-top: 27px
    transition: 0.2s
    i
      margin-left: 20px
      transition: 0.2s
    &:hover
      span
        color: $accent
      i
        color: $accent
  .basket
    display: flex
    justify-content: flex-end
    align-items: center
    margin-top: 25px
    .woocommerce-Price-currencySymbol
      display: none
    i
      margin-left: 14px
    &:hover
      span
        color: $accent
      i
        color: $accent
    .count
      margin-left: 5px
  span
    font-size: 0.75rem
    font-weight: 300
    line-height: 25px
    color: #fff
    letter-spacing: 0.045rem
    max-width: 10ch
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

.bottom_head
  background-color: #182057
.bottom_head_wrap
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  z-index: 11
  nav>ul
    display: flex
    align-items: center
  nav>ul>li
    font-size: 1rem
    font-weight: 700
    line-height: 25px
    color: #fff
    letter-spacing: 0.06rem
    transition: 0.2s
    margin-right: 46px
    &:last-child
      margin-right: 0
    a
      position: relative
      &:after
        content: ''
        display: block
        width: 100%
        height: 1px
        background: $accent
        position: absolute
        top: 50px
        left: 0
        opacity: 0
        transition: 0.2s
      &:hover
        color: $accent
        &:after
          opacity: 1
  nav>ul>li>a
    padding: 28px 0 25px
    display: inline-block
  nav>ul>li
    &:hover
      ul
        top: 100%
        opacity: 1
  nav>ul>li>ul>li a
    &:after
      top: 21px
.site_search
  width: 270px
  height: 40px
  position: relative
  background-color: #fff
  padding: 8px 0 6px
  label
    opacity: 0.4
    color: #000
    font-size: 0.875rem
    line-height: 25px
    letter-spacing: 0.053rem
    padding-left: 15px
  i
    opacity: 0.4
    color: #000
    padding-right: 13px
    font-size: 1.75rem
    position: absolute
    top: 5px
    right: 0
    z-index: 1
    transition: 0.2s
  input
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border: none
    background: transparent
    width: 100%
    height: 100%
    padding: 0 40px 0 15px
    line-height: 25px
    &::placeholder
      color: rgba(0, 0, 0, 0.4)
      font-family: "Open Sans"
      font-size: 0.875rem
      font-weight: 400
      line-height: 38px
      letter-spacing: 0.053rem
  .search_submit
    position: absolute
    top: 6px
    right: 12px
    left: auto
    width: 28px
    height: 28px
    padding: 0
    opacity: 0
    cursor: pointer
    z-index: 2
    transition: 0.2s
    &:hover
      .fa-search
        color: $accent
nav.mm-menu ul li
  a
    transition: 0.2s
    &:hover
      color: $accent
nav>ul>li>ul
  @include grid-row()
  flex-direction: column
  box-shadow: 0 0.25rem 0.313rem 0.063rem rgba(0, 0, 0, 0.19)
  background-color: #4e76ad
  position: absolute
  width: 100%
  height: 420px
  top: -9999px
  left: 15px
  font-weight: 400
  padding: 27px 0 25px
  opacity: 0
  transition: opacity 0.35s ease
nav>ul>li>ul>li
  @include grid-col(6 6 6 6 4 4)
  font-size: 1.125rem
  letter-spacing: 0.045rem
  line-height: 30px
nav>ul>li>ul>li>ul
  padding-left: 30px
  li
    margin-top: -6px
.mobile_search
  display: none
  transition: 0.2s
  &:hover
    color: $accent
nav > ul > li > ul > .menu-item-has-children > a
  &:hover
    color: inherit
    &:after
      display: none

.main_slider_block
  color: #fefefe
  .main_slider_item
    display: flex!important
    height: 574px
  h1
    font-size: 2.5rem
    font-weight: 300
    line-height: 50px
    strong
      display: block
      color: #fad43a
      font-weight: 800
  .right_offer_slide
    justify-content: flex-end
    align-items: center
    background-repeat: no-repeat
    background-position: left center
    background-size: cover
    .right_offer
      width: 570px
      background: rgba(0, 0, 0, 0.5)
      padding: 21px 35px 25px
  .left_offer_slide
    justify-content: flex-start
    align-items: flex-start
    background-repeat: no-repeat
    background-position: right center
    background-size: cover
    padding-top: 80px
    .left_offer
      width: 570px
      background: rgba(0, 0, 0, 0.5)
      padding: 21px 35px 40px
      h1 strong
        display: inline
  .product_offer_slide
    background-repeat: no-repeat
    background-position: right bottom
    background-size: cover
    .product_offer
      @include grid-row()
      width: calc(100% + 30px)
      .left
        @include grid-col(5 4 4 4 4 4)
        padding-left: 55px
        padding-top: 79px
        .img_block
          max-width: 220px
          margin: 0 auto
          img
            max-width: 100%
            display: block
            margin: 0 auto
        .price_block
          text-align: center
          text-shadow: 0 0.375rem 1.25rem rgba(0, 0, 0, 0.4)
          font-size: 2.063rem
          font-weight: 700
          .old_price
            margin-top: 40px
            text-decoration: line-through
          .sale_price
            margin-top: 10px
            color: $accent
      .right
        @include grid-col(7 8 8 8 8 8)
        padding-top: 65px
        h1
          max-width: 515px
          width: 100%
          font-size: 2.5rem
          font-weight: 800
          line-height: 50px
        .short_descr
          max-width: 630px
          max-height: 85px
          overflow-y: hidden
          font-size: 1.125rem
          font-weight: 300
          line-height: 28px
          margin-top: 25px
        .button, .added_to_cart
          width: 170px
          margin-top: 30px
          padding: 8px 0 11px
          font-size: 1.5rem
          line-height: 25px
          letter-spacing: 0.09rem
          transition: 0.2s
          &:hover
            box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.4)
        .added_to_cart
          width: 250px
          margin: 30px 0 0
          font-size: 1.3rem
          background: #fad43a
          color: #000
  .slick-dots
    bottom: 80px

h2
  font-size: 1.625rem
  font-weight: 800
  line-height: 25px

.sort_block
  display: flex
  line-height: 25px
  margin-top: 30px
  span
    display: block
    padding-top: 4px
  form
    margin-left: 14px

.our_brands
  padding: 78px 0
  color: #000
  line-height: 25px
  .brands_slider
    .slick-dots
      bottom: -58px
    .slick-slide > div
      display: flex
  .slick-slider
    margin: 26px -15px 0
  .brands_slider_item_wrap
    padding: 0 15px
  .brands_slider_item
    height: 270px
    display: flex
    align-items: center
    justify-content: center
    img
      display: block
      max-width: 100%
      margin: 0 auto 0

.slick-list
  margin: 0 -15px
.slick-slide
  margin: 0 15px
.recommend
  padding: 57px 0 70px
  .slick-slider
    margin: 27px -15px 0
    .slick-slide
      margin: 0 15px
.product_slider
  margin-top: 26px
  .slick-track
    padding: 10px 0
  .slick-dots
    bottom: -48px
.product_slider_item_wrap
  padding: 0 15px
  .product_slider_item
    height: 445px
    display: block
    background-color: #fff
    transition: 0.2s
    &:hover
      box-shadow: 0 0.25rem 0.438rem 0.063rem rgba(0, 0, 0, 0.19)
    .img_wrap
      height: 245px
      padding: 25px 0
      display: flex
      align-items: center
      justify-content: center
      img
        max-width: 100%
        max-height: 100%
    h3
      font-size: 1rem
      font-weight: 400
      line-height: 26px
      text-align: center
      padding: 0 49px 0
      height: 52px
      overflow-y: hidden
    .capacity
      font-size: 1.25rem
      font-weight: 600
      text-align: center
      margin-top: 7px
    .price
      font-size: 1.25rem
      font-weight: 600
      text-align: center
      margin-top: 5px
    .button
      width: 130px
      display: block
      margin: 18px auto 0
      padding: 5px 0 4px
      font-size: 1rem
      font-weight: 600
      line-height: 25px
      transition: 0.2s
      &:hover
        box-shadow: 0 0.188rem 0.313rem rgba(0, 0, 0, 0.19)

.about
  padding: 55px 0 76px
  h2
    font-size: 1.875rem
    line-height: 32px
  .about_wrap
    @include grid-row()
  .about_left_item
    @include grid-col(12 12 12 8 8 6)
    margin-top: 18px
    p
      margin-top: 25px
      font-size: 1rem
      line-height: 24px
  .about_right_item
    @include grid-col(12 12 12 4 4 6)
    ul
      margin-top: 49px
      li
        display: flex
        align-items: center
        padding-left: 10px
        margin-top: 25px
        .btn
          width: 200px
          background-color: #055aaa
          text-align: center
          padding: 10px 0
          margin-right: 33px
          font-weight: 700
          line-height: 25px
          color: #fff
          font-size: 1.25rem
          letter-spacing: 0.02rem
        span
          font-size: 1rem
          font-weight: 600
          line-height: 25px

.contacts
  position: relative
  height: 640px
  .map
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
  .contacts_wrap
    display: flex
    align-items: center
    justify-content: flex-end
    height: 640px
    .form_wrap
      width: 300px
      height: 429px
      background: #fff
      position: relative
      z-index: 1
      box-shadow: 0 0.375rem 0.5rem rgba(0, 0, 0, 0.3)
      padding: 28px 15px 0
      h4
        font-size: 1.25rem
        font-weight: 700
        line-height: 25px
        text-align: center
form
  .input_wrap
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.19)
    width: 237px
    margin: 15px auto 0
    display: block
  input, textarea
    border: none
    line-height: 25px
    padding: 9px 16px 13px
    display: block
    width: 100%
    height: 100%
    background: transparent
    resize: none
    &::placeholder
      font-size: 0.875rem
      font-weight: 400
      line-height: 25px
      color: rgba(0, 0, 0, 0.5)
    &[type='submit']
      box-shadow: none
  .textarea_wrap
    height: 114px
    textarea
      height: 114px
  .button
    font-size: 1.125rem
    font-weight: 700
    line-height: 25px
    background: $accent
    margin: 15px 15px 0
    color: #000
    letter-spacing: 0.068rem
    cursor: pointer
    transition: 0.2s
    &:hover
      box-shadow: 0 0.188rem 0.313rem rgba(0, 0, 0, 0.19)
    input
      cursor: pointer
.jq-selectbox
  width: 200px
  cursor: pointer
  &.opened
    i
      transform: rotate(180deg)
.jq-selectbox__select-text
  padding: 3px 32px 4px 10px
  border: 1px solid #000
  text-align: left
  width: 100%
.jq-selectbox__dropdown
  width: 100%
  background: #fff
  border-top: none
  border-right: 1px solid #000
  border-bottom: 1px solid #000
  border-left: 1px solid #000
  position: absolute
  top: 100%
  left: 0
  ul
    padding: 3px 0 5px
    li
      padding: 0 11px
.jq-selectbox__trigger
  width: 20px
  height: 20px
  position: absolute
  top: 2px
  right: 0
  i
    font-size: 0.7rem

.hamburger-box, .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
  width: 30px

footer
  padding: 0 0 38px
  background-color: #021f39
  flex: 0 0 auto
.footer_wrap
  @include grid-row()
  position: relative
  .contact_info .top_head_contact_bottom
    display: none
  .logo_wrap
    @include grid-col(12 12 6 4 3 3)
    .logo
      padding-top: 41px
  .footer_menu
    @include grid-col(12 12 6 4 3 2)
    padding-top: 33px
    ul
      li
        margin-top: 2px
        a
          display: inline-block
          color: #fff
          font-size: 0.75rem
          line-height: 10px
          text-decoration: underline
          letter-spacing: 0.03rem
          transition: 0.2s
          &:hover
            color: $accent
  .footer_menu_3
    @include grid-col(12 12 12 12 3 3)
  .contact_info
    color: #fff
    font-size: 0.875rem
    line-height: 40px
    text-decoration: underline
    letter-spacing: 0.053rem
    position: absolute
    top: 62px
    right: 15px
    a
      display: block
      text-align: right
      transition: 0.2s
      &:hover
        color: $accent
    .mail
      line-height: 25px

.mm-menu
  background: #4e76ad
  font-size: 0.875rem
  color: #fff
  .logo
    margin-top: 0
    background: #4e76ad
    .main_logo
      margin-top: 0
      background: #4e76ad
      color: #fff
.mm-panel_has-navbar .mm-navbar
  border-bottom-color: #fff
.mm-navbar>*
  padding: 0
.mm-panel_has-navbar .mm-navbar
  display: flex
  align-items: center
.mm-listitem
  &:after
    left: 0
    background: #fff
  .mm-btn_next
    &:before
      background: #fff
.mm-menu .mm-listview .mm-btn_next:after, .mm-menu .mm-btn:after, .mm-menu .mm-btn:before
  border-color: #fff
.mm-menu .mm-navbar a, .mm-menu .mm-navbar>*
  color: #fff
.mm-menu .mm-listitem_selected>a:not(.mm-btn_next), .mm-menu .mm-listitem_selected>span
  background: inherit

.slick-slider
  i
    color: #888
    font-size: 1.375rem
  .slick-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    transition: 0.2s
    cursor: pointer
    z-index: 1
    &:hover
      color: $accent
    &.fa-chevron-left
      left: -42px
    &.fa-chevron-right
      right: -42px
.slick-dots
  display: inline-flex
  align-items: center
  justify-content: center
  position: absolute
  width: 100%
  li
    width: 18px
    height: 18px
    border-radius: 50%
    background-color: #e8e8e8
    margin-right: 8px
    &:last-child
      margin-right: 0
    &.slick-active
      background-color: $accent
    button
      width: 18px
      height: 18px
      border-radius: 50%
      opacity: 0
.more_btn
  font-size: 1rem
  font-weight: 600
  line-height: 25px
  color: #fff
  display: block
  width: 166px
  padding: 5px 0 4px
  margin: 0 auto 0
  letter-spacing: 0.06rem
  background-color: #c4c3bf
  text-align: center
  cursor: pointer
  transition: 0.2s
  &:hover
    color: #000
    background: $accent
    box-shadow: 0 0.188rem 0.313rem rgba(0, 0, 0, 0.19)

.route
  padding: 76px 0 0
  h1
    color: #000
    font-size: 1.875rem
    font-weight: 800
    line-height: 25px
  h2
    margin-top: 37px
  .route_map
    width: 100%
    height: 633px
    margin-top: 37px
  p
    font-size: 1rem
    line-height: 26px
    margin-top: 13px

.photo
  .photo_wrap
    @include grid-row()
    p
      font-size: 1rem
      line-height: 26px
      margin-top: 13px
  .photo_item_wrap
    @include grid-col(12 12 12 6 4 4)
    div
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
  .photo_item
    height: 278px
    margin-top: 33px
  .photo_item_top_wrap
    @include grid-col(12 12 12 12 8 8)
  .photo_item_top
    height: 428px
    margin-top: 33px

.requisits
  padding: 69px 0 40px
  font-size: 1rem
  line-height: 30px
  .requisits_block
    @include grid-row()
  .requisits_item_name
    @include grid-col(5 6 6 5 3 3)
    @include grid-offset(0 0 0 2 0 0)
    margin-top: 0
  .requisits_item_ip
    @include grid-col(5 6 6 5 7 7)
    @include grid-offset(0 0 0 2 0 0)
    margin-top: 19px
  .requisits_item_descr
    @include grid-col(7 6 6 5 9 9)
    margin-top: 0
    span
      max-width: 272px
      display: block
      line-height: 26px
  .requisits_item_dl
    @include grid-col(7 6 6 5 5 5)
    margin-top: 19px
    a
      color: #182057
      line-height: 26px
      text-decoration: underline
      transition: 0.2s
      &:hover
        color: $accent

.contact_page
  .recommend
    padding: 28px 0 119px
  .product_slider
    margin-top: 16px
    .slick-dots
      bottom: -39px

.brand_section
  padding: 77px 0 0
  h1
    text-transform: uppercase
    font-size: 1.875rem
    font-weight: 800
    line-height: 25px
    letter-spacing: 0.113rem
    &:first-letter
      text-transform: uppercase
.brand_block
  @include grid-row()
  .brand_img
    @include grid-col(12 5 4 4 3 3)
    margin-top: 29px
    img
      max-width: 200px
      width: 100%
  .brand_descr
    @include grid-col(12 7 8 8 9 9)
    font-size: 1rem
    line-height: 26px
    letter-spacing: 0.02rem
    margin-top: 29px
    p
      margin-top: 14px

.catalog_section
  padding: 0 0 79px
  .sort_block
    margin-top: 27px
  .more_btn
    margin: 55px auto 0
.product_section_catalog, .alm-reveal
  @include grid-row()
  .product_slider_item_wrap
    @include grid-col(12 6 6 4 3 3)
    .product_slider_item
      margin: 21px 0
      .button
        letter-spacing: 0.06rem

.group_page
  .brand_section h1
    text-transform: inherit
  .group_descr
    font-size: 1rem
    line-height: 26px
    letter-spacing: 0.02rem
    margin-top: 32px
  .catalog_section .sort_block
    margin-top: 23px

.delivery_page
  .route h2
    margin-top: 48px
  .delivery_img_wrap
    margin-top: 41px
    height: 780px
    background-repeat: no-repeat
    background-size: cover
    background-position: left center
  .delivery_block
    @include grid-row()
    .delivery_item
      @include grid-col(12 12 12 6 6 6)
      margin-top: 13px
      span
        color: #182057
        text-decoration: underline
      h3
        font-size: 1.375rem
        font-weight: 700
        line-height: 24px
        margin-top: 11px
  .recommend
    padding: 57px 0 118px
    .product_slider .slick-dots
      bottom: -38px
    .slick-slider
      margin: 17px -15px 0

.pay
  padding: 71px 0 36px
  .pay_block
    @include grid-row()
  .pay_item
    @include grid-col(12 12 12 6 6 6)
    h3
      font-size: 1.375rem
      font-weight: 700
      letter-spacing: 0.083rem
      line-height: 40px
      margin: 32px 0 10px
    p
      font-size: 1rem
      letter-spacing: 0.06rem
      line-height: 26px

.product
  padding: 76px 0 19px
  h1
    font-size: 1.875rem
    font-weight: 800
    line-height: 35px
  .product_block
    @include grid-row()
    .product_img
      @include grid-col(12 5 5 4 4 4)
      margin-top: 36px
      img
        max-width: 100%
        display: block
        margin: 0 auto
    .product_descr
      @include grid-col(12 7 7 5 5 6)
      padding-left: 80px
      margin-top: 51px
      .button, .added_to_cart
        margin: 41px 0 0
        width: 245px
        max-width: 100%
        display: block
        font-weight: 600
        padding: 5px 0 3px
        font-size: 1rem
        line-height: 25px
        letter-spacing: 0.06rem
        transition: 0.2s
        &:hover
          box-shadow: 0 0.188rem 0.313rem rgba(0, 0, 0, 0.19)
      p
        font-size: 1rem
        line-height: 26px
        letter-spacing: 0.04rem
      .price_block
        display: flex
        align-items: center
        margin-top: 30px
        .price
          font-size: 1.5rem
          font-weight: 600
          line-height: 28px
          padding-left: 35px
          display: flex
          flex-direction: column
          del
            margin-bottom: 10px
          ins
            text-decoration: none
    .product_info
      @include grid-col(12 12 12 3 3 2)
      line-height: 26px
      letter-spacing: 0.04rem
      margin-top: 51px
  .tabs
    margin-top: 79px
    ul.tabs_caption
      background-color: #28548b
      display: flex
      li
        font-size: 1.125rem
        font-weight: 700
        line-height: 25px
        letter-spacing: 0.068rem
        color: #fff
        padding: 25px 0 24px 30px
        span
          cursor: pointer
          transition: 0.2s
          &:hover
            color: $accent
        &.active
          span
            color: $accent
            text-decoration: underline
    .tabs_content
      background-color: #d9e5f5
      padding: 24px
      font-size: 1rem
      font-weight: 400
      letter-spacing: 0.06rem
      line-height: 26px
      p
        margin-bottom: 14px

.shop_table
  width: 100%
  margin-top: 0
  .jq-number
    margin-left: 0
.woocommerce-cart-form
  .actions
    display: flex
    justify-content: flex-end
    .button
      margin-top: 0
      padding: 4px 0 5px
      width: 245px
.wc-proceed-to-checkout
  .button
    padding: 5px 0
.cart_totals
  h2
    margin-top: 20px
.woocommerce-cart-form__cart-item
  margin-top: 15px
.product-thumbnail
  a
    max-height: 100px
    display: block
    img
      max-height: 100px
      width: auto
      height: 100%
      display: block
      margin: 0 auto
.cart-collaterals
  display: flex
  justify-content: flex-end
  .cart_totals
    max-width: 400px
    width: 100%

.jq-number
  display: flex
  width: 130px
  box-shadow: 0 0.063rem 0.313rem rgba(0, 0, 0, 0.14)
  background-color: #fff
  font-size: 1rem
  line-height: 40px
  margin-left: 30px
  input
    border: none
    width: 100%
    text-align: center
    font-weight: 600
  .jq-number__field
    width: 33.3333%
    position: relative
    &:before
      content: ''
      display: block
      width: 1px
      height: 16px
      background: #e8e8e8
      position: absolute
      top: 12px
      left: 0
    &:after
      content: ''
      display: block
      width: 1px
      height: 16px
      background: #e8e8e8
      position: absolute
      top: 12px
      right: 0
  .jq-number__spin
    width: 33.3333%
    height: 40px
    position: relative
    top: 0
    left: 0
    cursor: pointer
    &.minus
      order: -1
    &.plus
      left: auto
      right: 0
      &:after
        content: ''
        position: absolute
        top: 14px
        left: 21px
        width: 2px
        height: 12px
        border: none
        background: #000
    &:before
      content: ''
      position: absolute
      top: 19px
      left: 16px
      width: 12px
      height: 2px
      border: none
      background: #000

.watching
  padding: 56px 0 108px

aside
  display: none

.woocommerce-message
  display: none

.woocommerce-products-header__title
  font-size: 2.5rem
  color: #000

.content-area, .entry-header
  color: #000

.woocommerce-Price-currencySymbol
  margin-left: 5px

div.wpcf7 .ajax-loader
  display: none

.wpcf7-form-control-wrap
  display: block

span.wpcf7-not-valid-tip
  position: absolute
  font-size: 0.7rem
  top: -14px
  left: 0

.woocommerce-result-count
  display: none

.tabs_content
  display: none
  &.active
    display: block

.single-product div.product
  display: block!important

.woocommerce-cart
  .entry-header
    display: none
  h1
    margin-top: 76px
  .shop_table
    margin: 25px 0
    tr td
      padding: 5px 0
  .entry-footer
    display: none

.woocommerce
  .cart-collaterals
    padding-bottom: 70px
  .cart-empty
    text-align: center
    margin: 25px 0
  .return-to-shop
    padding-bottom: 70px
    .button
      width: 220px
      margin: 0 auto 0
      padding: 5px 0

table.shop_table_responsive tr td:before
  display: none

.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments
  margin: 15px 0
  text-align: center
  background-color: transparent!important
  display: block!important
  a
    color: #182057
    text-decoration: underline

.added_to_cart
  width: 180px
  display: block
  margin: 18px auto 0
  padding: 5px 0 4px
  font-size: 1rem
  font-weight: 600
  line-height: 25px
  background: #fad43a
  text-align: center
  transition: 0.2s
  &:hover
    box-shadow: 0 0.188rem 0.313rem rgba(0, 0, 0, 0.19)
.add_to_cart_button
  &.added
    display: none!important

.search
  .no-results
    h1
      display: none
  h1
    color: #000
    font-size: 1.75rem
    margin-top: 45px
    span
      font-size: 2.0rem
      font-weight: 800
  .page-content
    text-align: center
    padding-top: 30px
    p
      font-size: 1.250rem
    .site_search
      border: 1px solid #000
      margin: 35px auto 75px

.woocommerce-account
  .entry-footer
    display: none
  .button
    padding: 5px 0 6px
    width: 100%
    max-width: 330px
    margin: 0 auto 0
    text-decoration: none
    transition: 0.2s
    &:hover
      box-shadow: 0 0.188rem 0.313rem rgba(0, 0, 0, 0.19)
  .order_item
    padding: 5px 0
  .woocommerce-table
    text-align: left

.my_accout_wrap
  @include grid-row()
  margin-top: 30px
  margin-bottom: 70px
  li
    margin-top: 10px
    &:first-child
      margin-top: 0
    a
      color: #182057
      text-decoration: underline
.woocommerce-MyAccount-navigation
  @include grid-col(12 3 3 3 3 3)
.woocommerce-MyAccount-content
  @include grid-col(12 9 9 9 9 9)
  p
    margin-top: 10px
    &:first-child
      margin-top: 0
  a
    color: #182057
    text-decoration: underline
  .woocommerce-info
    margin: 0
    .button
      width: 250px
      color: inherit
      text-decoration: none
      margin: 0 auto 20px
      padding: 5px 0 6px
      transition: 0.2s
      &:hover
        box-shadow: 0 0.188rem 0.313rem rgba(0, 0, 0, 0.19)
  h3
    color: #000
    margin: 20px 0
  fieldset
    max-width: 100%


.woocommerce-account
  h1
    margin-top: 45px
  h2
    margin-top: 20px
  form
    margin-top: 15px
    input
      display: block
      width: 100%
    a
      color: #182057
      text-decoration: underline
    label
      font-size: 0.8rem
      margin-top: 10px
      display: flex
      align-items: center
      span
        margin-left: 5px
    #billing_country_field
      .woocommerce-input-wrapper
        box-shadow: none
        margin: 20px 0
    .input_wrap, .woocommerce-input-wrapper
      width: 330px
      max-width: 100%
      margin: 5px 0 0
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.19)
      display: block
    .button
      width: 250px
      padding: 5px 0 6px
      margin: 15px 0 0
    .woocommerce-privacy-policy-text
      margin-top: 15px
      font-size: 0.8rem
    .lost_password
      margin-top: 15px
  .u-column2
    padding-bottom: 70px
.lost_reset_password
  padding-bottom: 70px

.woocommerce-checkout
  .site-main
    margin: 70px 0
    a
      color: #182057
      text-decoration: underline
  .entry-footer
    display: none
  h3
    margin: 20px 0
  #billing_country_field, #shipping_country_field
    .woocommerce-input-wrapper
      box-shadow: none
      margin: 20px 0
  .woocommerce-input-wrapper
    width: 330px
    max-width: 100%
    margin: 5px 0 0
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.19)
    display: block
  label
    font-size: 0.8rem
    margin-top: 10px
    display: flex
    align-items: center
  .col2-set .form-row-first, .col2-set .form-row-last
    width: 100%
    float: none
  .woocommerce-form__label-for-checkbox
    .jq-checkbox
      margin-right: 5px

.woocommerce-checkout-review-order
  .shop_table
    text-align: left

.woocommerce-checkout-payment
  ul
    li
      margin-top: 15px
      .radio_wrap
        display: flex
        align-items: center
        .jq-radio
          margin-right: 5px
          border: .063rem solid #009be6;
          width: 14px
          height: 14px
          border-radius: 50%
          display: flex
          align-items: center
          justify-content: center
          cursor: pointer
          &.checked .jq-radio__div
            background-color: #009be6
            width: 8px
            height: 8px
            border-radius: 50%
      label
        display: block
        margin-top: 0
        img
          display: block
          max-width: 100%
      .payment_box
        margin-top: 10px

.woocommerce-order-received
  .woocommerce-order
    margin-top: 15px
  .woocommerce-order-overview
    margin: 15px 0
  .woocommerce-order-details
    margin: 15px 0
    .woocommerce-table
      text-align: left
      margin-top: 10px
  address
    margin: 15px 0

.pwb-brand-shortcode
  img
    width: 100%
    max-width: 150px

.jq-checkbox
  border-radius: .125rem
  border: .063rem solid #262626
  background-color: #fff
  width: 13px
  height: 13px
  cursor: pointer
  &.checked .jq-checkbox__div
    width: 10px
    height: 6px
    margin: 1px 0 0 1px
    border-bottom: 2px solid #009be6
    border-left: 2px solid #009be6
    transform: rotate(-50deg)

@import "media"