$grid: (
  breakpoints: (
    xxs: 0px,
    xs: 481px,
    sm: 577px,
    md: 769px,
    lg: 993px,
    xl: 1200px
  ),
  columns: 12,
  gap: 15px,
  container: 15px,
  box-sizing: border-box,
  mode: flex
);