<footer>
  <div class="container">
    <div class="footer_wrap">
      <div class="logo_wrap">
        <a href="#" class="logo">
          <span class="logo_top">Интернет-магазин лакокрасочных материалов</span>
          <span class="main_logo">Прораб</span>
        </a>
      </div>
      <div class="footer_menu">
        <ul>
          <li>
            <a href="#">Грунтовки</a>
          </li>
          <li>
            <a href="#">Краски</a>
          </li>
          <li>
            <a href="#">Эмали</a>
          </li>
          <li>
            <a href="#">Лаки</a>
          </li>
          <li>
            <a href="#">Антисептики</a>
          </li>
          <li>
            <a href="#">Гидроизоляция</a>
          </li>
          <li>
            <a href="#">Материалы битумные</a>
          </li>
        </ul>
      </div>
      <div class="footer_menu">
        <ul>
          <li>
            <a href="#">Сухие смеси</a>
          </li>
          <li>
            <a href="#">Колеры</a>
          </li>
          <li>
            <a href="#">Клеи</a>
          </li>
          <li>
            <a href="#">Инструмент малярный</a>
          </li>
          <li>
            <a href="#">Шпатлевки готовые</a>
          </li>
          <li>
            <a href="#">Растворители</a>
          </li>
          <li>
            <a href="#">Очистители</a>
          </li>
        </ul>
      </div>
      <div class="footer_menu footer_menu_3">
        <ul>
          <li>
            <a href="#">Герметики</a>
          </li>
          <li>
            <a href="#">Пены полиуретановые</a>
          </li>
          <li>
            <a href="#">Вспомогательные материалы</a>
          </li>
          <li>
            <a href="#">Декоративные покрытия</a>
          </li>
          <li>
            <a href="#">Затирки для керамической плитки</a>
          </li>
        </ul>
      </div>
      <div class="contact_info">
        <a href="tel:+79162173328" class="tel">+7 (916) 217-33-28</a>
        <a href="mailto:prorab-kraski@yandex.ru" class="mail">prorab-kraski@yandex.ru</a>
        <a href="#" class="top_head_contact_bottom">
          <i class="fa fa-map-marker" aria-hidden="true"></i><span>Москва, 41 км МКАД , строительный рынок «Мельница», павильон Д-28/4</span>
        </a>
      </div>
    </div>
  </div>
</footer>

<nav id="mobile_menu">
  <ul>
    <li class="current-menu-item">
      <a href="#">Главная</a>
    </li>
    <li>
      <a href="#">Каталог</a>
      <ul>
        <li>
          <a href="#">Грунтовки</a>
        </li>
        <li class="menu-item-has-children">
          <a href="#">Краски</a>
          <ul>
            <li>
              <a href="#">аэрозольные</a>
            </li>
            <li>
              <a href="#">алкидные</a>
            </li>
            <li>
              <a href="#">акриловые</a>
            </li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="#">Эмали</a>
          <ul>
            <li>
              <a href="#">алкидные</a>
            </li>
            <li>
              <a href="#">акриловые</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Лаки</a>
        </li>
        <li class="menu-item-has-children">
          <a href="#">Антисептики</a>
          <ul>
            <li>
              <a href="#">деревозащитные</a>
            </li>
            <li>
              <a href="#">антиплесень</a>
            </li>
            <li>
              <a href="#">антисоль</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Гидроизоляция</a>
        </li>
        <li>
          <a href="#">Материалы битумные</a>
        </li>
        <li>
          <a href="#">Сухие смеси</a>
        </li>
        <li>
          <a href="#">Колеры</a>
        </li>
        <li class="menu-item-has-children">
          <a href="#">Клеи</a>
          <ul>
            <li>
              <a href="#">ПВА</a>
            </li>
            <li>
              <a href="#">обойные</a>
            </li>
            <li>
              <a href="#">двухкомпонентные</a>
            </li>
            <li>
              <a href="#">паркетные</a>
            </li>
            <li>
              <a href="#">жидкие гвозди</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Инструмент малярный</a>
        </li>
        <li>
          <a href="#">Шпатлевки готовые</a>
        </li>
        <li>
          <a href="#">Герметики</a>
        </li>
        <li>
          <a href="#">Пены полиуретановые</a>
        </li>
        <li class="menu-item-has-children">
          <a href="#">Вспомогательные материалы</a>
          <ul>
            <li>
              <a href="#">скотч</a>
            </li>
            <li>
              <a href="#">бинт строительный</a>
            </li>
            <li>
              <a href="#">серпянка</a>
            </li>
            <li>
              <a href="#">сетка</a>
            </li>
            <li>
              <a href="#">малярный стеклохолст</a>
            </li>
            <li>
              <a href="#">плёнки</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Декоративные покрытия</a>
        </li>
        <li>
          <a href="#">Затирки для керамической плитки</a>
        </li>
        <li>
          <a href="#">Растворители</a>
        </li>
        <li>
          <a href="#">Очистители</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Доставка и оплата</a>
    </li>
    <li>
      <a href="#">О магазине</a>
    </li>
  </ul>
</nav>