//= template/header.html

<div class="brand_page">

  <section class="brand_section">
    <div class="container">
      <h1>Tikkurila</h1>
      <div class="brand_block">
        <div class="brand_img">
          <img src="img/tikkurilla.png" alt="">
        </div>
        <div class="brand_descr">
          <p>Tikkurila является ведущей компанией в области производства декоративных лакокрасочных
          материалов в Финляндии, Швеции и России. Более 155 лет Tikkurila создает удобные, экологичные и инновационные
            решения для сохранения поверхностей в их первозданном виде.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="catalog_section">
    <div class="container">

      <div class="sort_block">
        <span>Сортировать</span>
        <form class="woocommerce-ordering">
          <select name="orderby" class="orderby js_input">
            <option value="alphabetical">по алфавиту</option>
            <option value="popularity">по популярности</option>
          </select>
        </form>
      </div>

      <div class="product_section_catalog">

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

      </div>
      <a href="#" class="more_btn">Показать еще</a>
    </div>

  </section>

</div>

//= template/footer.html

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>
