//= template/header.html

<div class="contact_page">

  <section class="route">
    <div class="container">
      <h1>О магазине</h1>
      <h2>Расположение и фотографии</h2>
      <div id="map" class="route_map"></div>
      <p>Наш магазин и пункт самовывоза располагается на строительном рынке «Мельница», в павильоне Д-28/4.</p>
    </div>
  </section>

  <section class="photo">
    <div class="container">
      <div class="photo_wrap">
        <div class="photo_item_wrap photo_item_top_wrap">
          <div class="photo_item photo_item_top photo_item_top_front" style="background-image: url('img/shop-foto-1.jpg')"></div>
          <p>Вид с улицы на магазин</p>
        </div>
        <div class="photo_item_wrap">
          <div class="photo_item photo_item_top" style="background-image: url('img/shop-foto-2.jpg')"></div>
          <p>Входная группа магазина</p>
        </div>
        <div class="photo_item_wrap">
          <div class="photo_item" style="background-image: url('img/shop-foto-3.jpg')"></div>
          <p>Колеровочная машина</p>
        </div>
        <div class="photo_item_wrap">
          <div class="photo_item" style="background-image: url('img/shop-foto-4.jpg')"></div>
          <p>Наш ассортимент</p>
        </div>
        <div class="photo_item_wrap">
          <div class="photo_item" style="background-image: url('img/shop-foto-5.jpg')"></div>
          <p>Малярный инструмент</p>
        </div>
      </div>
    </div>
  </section>

  <section class="requisits">
    <div class="container">
      <h2>Наши контакты и реквизиты</h2>
      <div class="requisits_block">
        <div class="requisits_item_ip">ИП Черных Александр</div>
        <div class="requisits_item_dl"><a href="#">Скачать реквизиты</a></div>
        <div class="requisits_item_name">ИНН</div>
        <div class="requisits_item_descr">555555555555</div>
        <div class="requisits_item_name">ОГРН</div>
        <div class="requisits_item_descr">666666666666666</div>
        <div class="requisits_item_name">Фактический адрес</div>
        <div class="requisits_item_descr"><span>Москва, 41 км МКАД,
        строительный рынок «Мельница»,
        павильон Д-28/4</span></div>
        <div class="requisits_item_name">Электронная почта</div>
        <div class="requisits_item_descr">prorab-kraski@yandex.ru</div>
        <div class="requisits_item_name">Телефон</div>
        <div class="requisits_item_descr">+7 916 217-33-28</div>
        <div class="requisits_item_name">Банк</div>
        <div class="requisits_item_descr">ПАО «Сбербанк России»</div>
        <div class="requisits_item_name">Расчетный счет</div>
        <div class="requisits_item_descr">00000000000000000000</div>
        <div class="requisits_item_name">Корреспондентский счет</div>
        <div class="requisits_item_descr">11111111111111111111</div>
      </div>
    </div>
  </section>

  <section class="recommend">
    <div class="container">
      <h2>Популярные товары</h2>
      <div class="product_slider js_product_slider">
        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_Tikkurila_Harmony.png" alt="">
            </div>
            <h3>Краска акриловая
              Tikkurila Harmony</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_латексная_Caparol_Samtex3.png" alt="">
            </div>
            <h3>Краска латексная
              Caparol Samtex 3 ELF</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_акриловая_Dulux_Diamond.png" alt="">
            </div>
            <h3>Краска акриловая
              Dulux Diamond</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_Tikkurila_Harmony.png" alt="">
            </div>
            <h3>Краска акриловая
              Tikkurila Harmony</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_латексная_Caparol_Samtex3.png" alt="">
            </div>
            <h3>Краска латексная
              Caparol Samtex 3 ELF</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_акриловая_Dulux_Diamond.png" alt="">
            </div>
            <h3>Краска акриловая
              Dulux Diamond</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>
      </div>
    </div>
  </section>

</div>

//= template/footer.html

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<script>
    function init() {
        // Задаём точки мультимаршрута.
        var pointA = [55.610347, 37.488963],
            pointB = [55.609688, 37.486249],
            /**
             * Создаем мультимаршрут.
             * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/multiRouter.MultiRoute.xml
             */
            multiRoute = new ymaps.multiRouter.MultiRoute({
                referencePoints: [
                    pointA,
                    pointB
                ],
                params: {
                    //Тип маршрутизации - пешеходная маршрутизация.
                    routingMode: 'pedestrian'
                }
            }, {
                // Автоматически устанавливать границы карты так, чтобы маршрут был виден целиком.
                boundsAutoApply: false
            });

        // Создаем кнопку.
        var changePointsButton = new ymaps.control.Button({
            data: {content: "Поменять местами точки А и В"},
            options: {selectOnClick: true}
        });

        // Объявляем обработчики для кнопки.
        changePointsButton.events.add('select', function () {
            multiRoute.model.setReferencePoints([pointB, pointA]);
        });

        changePointsButton.events.add('deselect', function () {
            multiRoute.model.setReferencePoints([pointA, pointB]);
        });

        // Создаем карту с добавленной на нее кнопкой.
        var myMap = new ymaps.Map('map', {
            center: [55.610207, 37.487526],
            zoom: 18,
            controls: [changePointsButton]
        }, {
            buttonMaxWidth: 300
        });

        // Добавляем мультимаршрут на карту.
        myMap.geoObjects.add(multiRoute);
        myMap.behaviors.disable('scrollZoom');
    }

    ymaps.ready(init);
</script>

</body>
</html>
