//= template/header.html

<div class="delivery_page">

  <section class="route">
    <div class="container">
      <h1>Доставка и оплата</h1>
      <h2>Доставка</h2>
      <div class="delivery_img_wrap" style="background-image: url(img/delivery-img.jpg)"></div>
      <div class="delivery_block">
        <div class="delivery_item">
          <p>Доставляем на следующий день после оформления заказа.
            Менеджер свяжется с вами, чтобы уточнить все детали.
            В день доставки заказа с вами свяжется курьер и сориентирует
            по времени приезда, позвонит за час до приезда.</p>
          <p>Будьте на связи. Указывайте действительные данные (телефон,
            адрес доставки и электронной почты).</p>
          <p>Обслуживаем преимущественно Юго-Западное направление
            Москвы и прилегающей Московской области.
            Курьер доставляет товар до подъезда (входной группы)</p>
          <p>Оформите заказ на сайте. <span>Самовывоз из нашего магазина бесплатен.</span></p>
        </div>
        <div class="delivery_item">
          <h3>Стоимость доставки</h3>
          <p>В зависимости от массы товара и дальности поездки стоимость варьируется от 30 до 50 руб./км. Оговаривается с
            менеджером.</p>
          <h3>Отказ</h3>
          <p>В случае, если курьер уже выехал, а вы решили отказаться от покупки, нужно будет оплатить стоимость доставки.</p>
          <p><b>Колерованный товар возврату не подлежит.</b></p>
        </div>
      </div>
    </div>
  </section>

  <section class="pay">
    <div class="container">
      <h2>Оплата</h2>
      <div class="pay_block">
        <div class="pay_item">
          <h3>Банковской картой</h3>
          <p>Оплачивать покупки удобно на нашем сайте.</p>
          <p>При оплате на сайте предоставляем скидку 5%.</p>
        </div>
        <div class="pay_item">
          <h3>Наличными</h3>
          <p>В нашем магазине, по адресу:  Москва, 41 км МКАД,</p>
          <p>строительный рынок «Мельница», павильон Д-28/4.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="recommend">
    <div class="container">
      <h2>Мы рекомендуем</h2>
      <div class="product_slider js_product_slider">
        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_Tikkurila_Harmony.png" alt="">
            </div>
            <h3>Краска акриловая
              Tikkurila Harmony</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_латексная_Caparol_Samtex3.png" alt="">
            </div>
            <h3>Краска латексная
              Caparol Samtex 3 ELF</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_акриловая_Dulux_Diamond.png" alt="">
            </div>
            <h3>Краска акриловая
              Dulux Diamond</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_Tikkurila_Harmony.png" alt="">
            </div>
            <h3>Краска акриловая
              Tikkurila Harmony</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_латексная_Caparol_Samtex3.png" alt="">
            </div>
            <h3>Краска латексная
              Caparol Samtex 3 ELF</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_акриловая_Dulux_Diamond.png" alt="">
            </div>
            <h3>Краска акриловая
              Dulux Diamond</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>
      </div>
    </div>
  </section>

</div>

//= template/footer.html

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>
