//= template/header.html

<div class="group_page">

  <section class="brand_section">
    <div class="container">
      <h1>Краски акриловые</h1>
      <div class="group_block">
        <div class="group_descr">
          <p>Водно-дисперсные краски на основе полиакрилатов, а также их сополимеров в качестве плёнкообразователей.
            Используются в строительстве для внутренних и наружных работ и в живописи. Акриловые краски, подобно другим водно-дисперсным краскам, могут быть разбавлены водой, при разбавлении могут колероваться водными пигментными пастами, но после высыхания становятся стойкими к воздействию воды. При нанесении и во время всего срока эксплуатации не выделяют токсичных веществ,
            поскольку не содержат в составе растворителей органического происхождения.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="catalog_section">
    <div class="container">

      <div class="sort_block">
        <span>Сортировать</span>
        <form class="woocommerce-ordering">
          <select name="orderby" class="orderby js_input">
            <option value="alphabetical">по алфавиту</option>
            <option value="popularity">по популярности</option>
          </select>
        </form>
      </div>

      <div class="product_section_catalog">

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

      </div>
      <a href="#" class="more_btn">Показать еще</a>
    </div>

  </section>

</div>

//= template/footer.html

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>
