//= template/header.html

<div class="product_page">

  <section class="product">
    <div class="container">
      <h1>Краска Finncolor Oasis Interior Plus</h1>
      <div class="product_block">
        <div class="product_img">
          <img src="img/Finncolor__Oasis_Interior_Plus-09l.png" alt="">
        </div>
        <div class="product_descr">
          <p>Шелковисто-матовая особо устойчивая к мытью
            водно-дисперсионная краска для высококачественной отделки внутри сухих и влажных помещений c высокой
            эксплуатационной нагрузкой.</p>
          <div class="price_block">
            <div class="price">260 ₽</div>
            <input type="number" class="js_input" min="1" value="1">
          </div>
          <a href="#" class="button">Добавить в корзину</a>
        </div>
        <div class="product_info">
          <p><b>Производитель</b></p>
          <p>Tikkurilla Finncolor</p>
          <p><b>Фасовка</b></p>
          <p>0,9 л</p>
          <p><b>Расход</b></p>
          <p>9—12 м<sup>2</sup>/л</p>
        </div>
      </div>
      <div class="tabs">

        <ul class="tabs_caption">
          <li class="active"><span>Подробное описание</span></li>
          <li><span>Технические характеристики</span></li>
        </ul>

        <div class="tabs_content active">
          <p>Тип поверхностей для окрашивания стен и потолков в сухих и влажных помещениях (кроме ванных комнат), а также в
          помещениях с высокой эксплуатационной нагрузкой (кухни, столовые, вестибюли, коридоры, помещения общественного
          и коммерческого назначения), требующих частой уборки, по бетонным, кирпичным, оштукатуренным, зашпатлеванным
          поверхностям, гипсокартону, структурно-волокнистым и стеклообоям, древесно-стружечным и древесно-волокнистым
            плитам.</p>
          <ul>
            <li>Цвет: белый, колеруется</li>
            <li>Расход 9-12 м2/л — в зависимости от типа поверхности</li>
            <li>Время высыхания 1,5 часа</li>
            <li>Колеровка по 2 системам: Tikkurila (без ограничений) или ТЕКС (только в цвета по каталогу Текс)</li>
            <li>ФАСОВКА: 0,9 л, 2,7 л, 9 л</li>
            <li>СРОК ГОДНОСТИ: 3 года</li>
          </ul>
        </div>

        <div class="tabs_content">
          <ul>
            <li>Цвет: белый, колеруется</li>
            <li>Расход 9-12 м2/л — в зависимости от типа поверхности</li>
            <li>Время высыхания 1,5 часа</li>
            <li>Колеровка по 2 системам: Tikkurila (без ограничений) или ТЕКС (только в цвета по каталогу Текс)</li>
            <li>ФАСОВКА: 0,9 л, 2,7 л, 9 л</li>
            <li>СРОК ГОДНОСТИ: 3 года</li>
          </ul>
        </div>

      </div>
    </div>
  </section>


  <section class="recommend">
    <div class="container">
      <h2>С этим товаром часто покупают</h2>
      <div class="product_slider js_product_slider">
        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_Tikkurila_Harmony.png" alt="">
            </div>
            <h3>Краска акриловая
              Tikkurila Harmony</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_латексная_Caparol_Samtex3.png" alt="">
            </div>
            <h3>Краска латексная
              Caparol Samtex 3 ELF</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_акриловая_Dulux_Diamond.png" alt="">
            </div>
            <h3>Краска акриловая
              Dulux Diamond</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_Tikkurila_Harmony.png" alt="">
            </div>
            <h3>Краска акриловая
              Tikkurila Harmony</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_латексная_Caparol_Samtex3.png" alt="">
            </div>
            <h3>Краска латексная
              Caparol Samtex 3 ELF</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_акриловая_Dulux_Diamond.png" alt="">
            </div>
            <h3>Краска акриловая
              Dulux Diamond</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="recommend watching">
    <div class="container">
      <h2>С этим товаром часто смотрят</h2>
      <div class="product_slider js_product_slider">
        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_Tikkurila_Harmony.png" alt="">
            </div>
            <h3>Краска акриловая
              Tikkurila Harmony</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_латексная_Caparol_Samtex3.png" alt="">
            </div>
            <h3>Краска латексная
              Caparol Samtex 3 ELF</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_акриловая_Dulux_Diamond.png" alt="">
            </div>
            <h3>Краска акриловая
              Dulux Diamond</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/acryl_dyo_dyosan.png" alt="">
            </div>
            <h3>Краска акриловая
              Dyo Dyosan</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_Tikkurila_Harmony.png" alt="">
            </div>
            <h3>Краска акриловая
              Tikkurila Harmony</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_латексная_Caparol_Samtex3.png" alt="">
            </div>
            <h3>Краска латексная
              Caparol Samtex 3 ELF</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>

        <div class="product_slider_item_wrap">
          <a href="#" class="product_slider_item">
            <div class="img_wrap">
              <img src="img/Краска_акриловая_Dulux_Diamond.png" alt="">
            </div>
            <h3>Краска акриловая
              Dulux Diamond</h3>
            <div class="capacity">2,5 л</div>
            <div class="price">1 190 ₽</div>
            <object>
              <a href="#" class="button">В корзину</a>
            </object>
          </a>
        </div>
      </div>
    </div>
  </section>

</div>

//= template/footer.html

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>