//= template/header.html

<section class="main_slider">
  <div class="container">
    <div class="main_slider_block js_main_slider">
      <div class="main_slider_item right_offer_slide" style="background-image:url('img/main-slider-1.jpg')">
        <div class="right_offer">
          <h1><b>Скидка 3%</b>Первым 100 зарегистрировавшимся</h1>
        </div>
      </div>

      <div class="main_slider_item left_offer_slide" style="background-image:url('img/main-slider-2.jpg')">
        <div class="left_offer">
          <h1>Оплачивайте товары на сайте со <b>скидкой 5%</b></h1>
        </div>
      </div>

      <div class="main_slider_item product_offer_slide" style="background-image:url('img/main-slider-3.jpg')">
        <div class="product_offer">
          <div class="left">
            <div class="img_block">
              <img src="img/main-slider-product.png" alt="">
            </div>
            <div class="price_block">
              <div class="old_price">3 300 ₽</div>
              <div class="sale_price">2 800 ₽</div>
            </div>
          </div>
          <div class="right">
            <h1>Декоративная
              фактурная штукатурка
              VGT «Мокрый шелк»</h1>
            <div class="short_descr">Изящное декоративное покрытие под ткань с перламутровыми
              частицами, создает эффект переливающегося шелка.
              Идеально подходит для создания стильных  и оригинальных интерьеров
            </div>
            <a href="#" class="button">Купить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our_brands">
  <div class="container">
    <h2>Наши бренды</h2>
    <div class="sort_block">
      <span>Сортировать</span>
      <form class="woocommerce-ordering">
        <select name="orderby" class="orderby js_input">
          <option value="alphabetical">по алфавиту</option>
          <option value="popularity">по популярности</option>
        </select>
      </form>
    </div>
    <div class="brands_slider js_brands_slider">
      <div class="brands_slider_item_wrap">
        <a href="#" class="brands_slider_item">
          <img src="img/anza.png" alt="Anza">
        </a>
      </div>
      <div class="brands_slider_item_wrap">
        <a href="#" class="brands_slider_item">
          <img src="img/atlas.png" alt="Anza">
        </a>
      </div>
      <div class="brands_slider_item_wrap">
        <a href="#" class="brands_slider_item">
          <img src="img/bayramix.png" alt="Anza">
        </a>
      </div>
      <div class="brands_slider_item_wrap">
        <a href="#" class="brands_slider_item">
          <img src="img/beckers.png" alt="Anza">
        </a>
      </div>
      <div class="brands_slider_item_wrap">
        <a href="#" class="brands_slider_item">
          <img src="img/belinka.png" alt="Anza">
        </a>
      </div>
      <div class="brands_slider_item_wrap">
        <a href="#" class="brands_slider_item">
          <img src="img/atlas.png" alt="Anza">
        </a>
      </div>
      <div class="brands_slider_item_wrap">
        <a href="#" class="brands_slider_item">
          <img src="img/bayramix.png" alt="Anza">
        </a>
      </div>
      <div class="brands_slider_item_wrap">
        <a href="#" class="brands_slider_item">
          <img src="img/beckers.png" alt="Anza">
        </a>
      </div>
    </div>
  </div>
</section>

<section class="recommend">
  <div class="container">
    <h2>Мы рекомендуем</h2>
    <div class="product_slider js_product_slider">
      <div class="product_slider_item_wrap">
        <a href="#" class="product_slider_item">
          <div class="img_wrap">
            <img src="img/acryl_dyo_dyosan.png" alt="">
          </div>
          <h3>Краска акриловая
            Dyo Dyosan</h3>
          <div class="capacity">2,5 л</div>
          <div class="price">1 190 ₽</div>
          <object>
            <a href="#" class="button">В корзину</a>
          </object>
        </a>
      </div>

      <div class="product_slider_item_wrap">
        <a href="#" class="product_slider_item">
          <div class="img_wrap">
            <img src="img/Краска_Tikkurila_Harmony.png" alt="">
          </div>
          <h3>Краска акриловая
            Tikkurila Harmony</h3>
          <div class="capacity">2,5 л</div>
          <div class="price">1 190 ₽</div>
          <object>
            <a href="#" class="button">В корзину</a>
          </object>
        </a>
      </div>

      <div class="product_slider_item_wrap">
        <a href="#" class="product_slider_item">
          <div class="img_wrap">
            <img src="img/Краска_латексная_Caparol_Samtex3.png" alt="">
          </div>
          <h3>Краска латексная
            Caparol Samtex 3 ELF</h3>
          <div class="capacity">2,5 л</div>
          <div class="price">1 190 ₽</div>
          <object>
            <a href="#" class="button">В корзину</a>
          </object>
        </a>
      </div>

      <div class="product_slider_item_wrap">
        <a href="#" class="product_slider_item">
          <div class="img_wrap">
            <img src="img/Краска_акриловая_Dulux_Diamond.png" alt="">
          </div>
          <h3>Краска акриловая
            Dulux Diamond</h3>
          <div class="capacity">2,5 л</div>
          <div class="price">1 190 ₽</div>
          <object>
            <a href="#" class="button">В корзину</a>
          </object>
        </a>
      </div>

      <div class="product_slider_item_wrap">
        <a href="#" class="product_slider_item">
          <div class="img_wrap">
            <img src="img/acryl_dyo_dyosan.png" alt="">
          </div>
          <h3>Краска акриловая
            Dyo Dyosan</h3>
          <div class="capacity">2,5 л</div>
          <div class="price">1 190 ₽</div>
          <object>
            <a href="#" class="button">В корзину</a>
          </object>
        </a>
      </div>

      <div class="product_slider_item_wrap">
        <a href="#" class="product_slider_item">
          <div class="img_wrap">
            <img src="img/Краска_Tikkurila_Harmony.png" alt="">
          </div>
          <h3>Краска акриловая
            Tikkurila Harmony</h3>
          <div class="capacity">2,5 л</div>
          <div class="price">1 190 ₽</div>
          <object>
            <a href="#" class="button">В корзину</a>
          </object>
        </a>
      </div>

      <div class="product_slider_item_wrap">
        <a href="#" class="product_slider_item">
          <div class="img_wrap">
            <img src="img/Краска_латексная_Caparol_Samtex3.png" alt="">
          </div>
          <h3>Краска латексная
            Caparol Samtex 3 ELF</h3>
          <div class="capacity">2,5 л</div>
          <div class="price">1 190 ₽</div>
          <object>
            <a href="#" class="button">В корзину</a>
          </object>
        </a>
      </div>

      <div class="product_slider_item_wrap">
        <a href="#" class="product_slider_item">
          <div class="img_wrap">
            <img src="img/Краска_акриловая_Dulux_Diamond.png" alt="">
          </div>
          <h3>Краска акриловая
            Dulux Diamond</h3>
          <div class="capacity">2,5 л</div>
          <div class="price">1 190 ₽</div>
          <object>
            <a href="#" class="button">В корзину</a>
          </object>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <h2>Интернет-магазин лакокрасочных материалов «Прораб»</h2>
    <div class="about_wrap">
      <div class="about_left_item">
        <p>Сеть магазинов Прораб существует с 2000 года. В целях улучшения обслуживания клиентов мы запустили
          интернет-магазин.</p>
        <p>В нашем магазине представлены отделочные материалы ведущих фирм-производителей на любой вкус и кошелек.</p>
        <p>Мы ориентированы на обслуживание Юго-Запада Москвы и прилегающего Подмосковья.</p>
      </div>
      <div class="about_right_item">
        <ul>
          <li>
            <div class="btn">15+ лет</div>
            <span>Большой опыт работы на рынке</span>
          </li>
          <li>
            <div class="btn">100% качество</div>
            <span>Оригинальная продукция</span>
          </li>
          <li>
            <div class="btn">1000+ позиций</div>
            <span>Большой выбор товаров в каталоге</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="contacts">
  <div id="map" class="map"></div>
  <div class="container">
    <div class="contacts_wrap">
      <div class="form_wrap">
        <h4>Есть вопросы —
          напишите нам</h4>
        <form>
          <div class="input_wrap">
            <input type="text" id="name" name="name" placeholder="Олег">
          </div>
          <div class="input_wrap">
            <input type="email" id="email" name="email" placeholder="skasmonavt@gmail.com">
          </div>
          <div class="input_wrap textarea_wrap">
            <textarea name="form_text" id="form_text" placeholder="Как сделать заказ?"></textarea>
          </div>
          <div class="button">
            <input type="submit" value="Написать">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

//= template/footer.html

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<script type="text/javascript">
    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map("map", {
            center: [55.609688, 37.486249],
            zoom: 14
        });

        var myPlacemark = new ymaps.Placemark([55.609688, 37.486249], {
            hintContent: 'Прораб',
            balloonContent: 'Интернет-магазин лакокрасочных материалов'
        });

        myMap.geoObjects.add(myPlacemark);
        myMap.behaviors.disable('scrollZoom');
    }
</script>

</body>
</html>
